 @model List<Course>                  
                    @foreach (var item in Model)
                   {
                       <div class="col-lg-4 col-md-6">
                        <div class="single-course">
                            <div class="course-img">
                                <a href="~/assets/course-details.html"><img src="~/assets/img/course/@item.Image" alt="course">
                                    <div class="course-hover">
                                        <i class="fa fa-link"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="course-content">
                                <h3><a href="~/assets/course-details.html">@item.MainTitle</a></h3>
                                <p>@item.MainDesc</p>
                                <a class="default-btn" href="~/assets/course-details.html">read more</a>
                            </div>   
                        </div>
                    </div>
                   }