@model List<Course>
@{
    ViewData["Title"] = "Index";
}

<div class="banner-area-wrapper">
            <div class="banner-area text-center">	
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="banner-content-wrapper">
                                <div class="banner-content">
                                    <h2>courses</h2> 
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
		<!-- Banner Area End -->
        <!-- Course Start -->
        <div class="course-area pt-150 pb-150">
            <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="course-title">
                        <h3>search courses</h3>
                    </div>
                    <div class="course-form">
                        <form id="search" action="#">
                            <input type="search" placeholder="Search..." name="search" id="search-input"/>
                            <ul id="search-result" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><input type="text" id="search-input"></li>
                            
                        </ul>
                            <button type="submit">search</button>
                        </form>
                    </div>

                     @*<div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-search me-2"></i>
                        </button>
                        <ul id="search-result" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><input type="text" id="search-input"></li>
                            
                        </ul>
                    </div>*@
                </div>
            </div>     
            <div class="row">
                    @await Html.PartialAsync("_CoursesPartialView")
            </div>
        </div> 
        </div>    