@model TeacherDetailVM
@{
    ViewData["Title"] = "Update";
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Update Teacher</h4>
                        <form class="forms-sample" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="exampleInputUsername1">Fullname</label>
                                <input asp-for="Teacher.Fullname" class="form-control" placeholder="">
                                <span asp-validation-for="Teacher.Fullname" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">About</label>
                                <textarea asp-for="Teacher.About" class="form-control" placeholder=""></textarea>
                                <span asp-validation-for="Teacher.About" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Degree</label>
                                <input asp-for="Teacher.Degree" class="form-control" placeholder="">
                                <span asp-validation-for="Teacher.Degree" class="text-danger"></span>
                            </div>
                  
                            <div class="form-group">
                                <label for="exampleInputUsername1">Experience</label>
                                <input asp-for="Teacher.Experience" class="form-control" placeholder="">
                                <span asp-validation-for="Teacher.Experience" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Faculty</label>
                                <input asp-for="Teacher.Faculty" class="form-control" placeholder="">
                                <span asp-validation-for="Teacher.Faculty" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Position</label>
                                <input asp-for="Teacher.Position" class="form-control" placeholder="">
                                <span asp-validation-for="Teacher.Position" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Hobbies</label>
                                <input asp-for="Teacher.Hobbies" class="form-control" placeholder="">
                                <span asp-validation-for="Teacher.Hobbies" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Image</label>
                                <input asp-for="Teacher.ImageFile" accept="image/*" class="form-control" placeholder="Image">
                                <span asp-validation-for="Teacher.ImageFile" class="text-danger"></span>
                            </div>
                           
                             <div class="form-group">
                                <label for="exampleInputUsername1">Teacher Mail</label>
                                <input asp-for="TeacherContact.Mail" class="form-control" placeholder="">
                                <span asp-validation-for="TeacherContact.Mail" class="text-danger"></span>
                            </div>
                             <div class="form-group">
                                <label for="exampleInputUsername1">Teacher Phone Number</label>
                                <input asp-for="TeacherContact.PhoneNumber" class="form-control" placeholder="">
                                <span asp-validation-for="TeacherContact.PhoneNumber" class="text-danger"></span>
                            </div>
                             <div class="form-group">
                                <label for="exampleInputUsername1">Teacher's Skype Address</label>
                                <input asp-for="TeacherContact.Skype" class="form-control" placeholder="">
                                <span asp-validation-for="TeacherContact.Skype" class="text-danger"></span>
                            </div>
                             <div class="form-group">
                                <label for="exampleInputUsername1">Teacher Url 1</label>
                                <input asp-for="TeacherContact.FirstURL" class="form-control" placeholder="">
                                <span asp-validation-for="TeacherContact.FirstURL" class="text-danger"></span>
                            </div>
                             <div class="form-group">
                                <label for="exampleInputUsername1">Teacher Logo 1</label>
                                <input asp-for="TeacherContact.FirstSocialMediaLogo" class="form-control" placeholder="">
                                <span asp-validation-for="TeacherContact.FirstSocialMediaLogo" class="text-danger"></span>
                            </div>
                             <div class="form-group">
                                <label for="exampleInputUsername1">Teacher Url 2</label>
                                <input asp-for="TeacherContact.SecondURL" class="form-control" placeholder="">
                                <span asp-validation-for="TeacherContact.SecondURL" class="text-danger"></span>
                            </div>
                             <div class="form-group">
                                <label for="exampleInputUsername1">Teacher Logo 2</label>
                                <input asp-for="TeacherContact.SecondSocialMediaLogo" class="form-control" placeholder="">
                                <span asp-validation-for="TeacherContact.SecondSocialMediaLogo" class="text-danger"></span>
                            </div>
                             <div class="form-group">
                                <label for="exampleInputUsername1">Teacher Url 3</label>
                                <input asp-for="TeacherContact.ThirdURL" class="form-control" placeholder="">
                                <span asp-validation-for="TeacherContact.ThirdURL" class="text-danger"></span>
                            </div>
                             <div class="form-group">
                                <label for="exampleInputUsername1">Teacher Logo 3</label>
                                <input asp-for="TeacherContact.ThirdSocialMediaLogo" class="form-control" placeholder="">
                                <span asp-validation-for="TeacherContact.ThirdSocialMediaLogo" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Teacher Url 4</label>
                                <input asp-for="TeacherContact.FourthURL" class="form-control" placeholder="">
                                <span asp-validation-for="TeacherContact.FourthURL" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Teacher Logo 4</label>
                                <input asp-for="TeacherContact.FourthSocialMediaLogo" class="form-control" placeholder="">
                                <span asp-validation-for="TeacherContact.FourthSocialMediaLogo" class="text-danger"></span>
                            </div>
                            

                            <div class="form-group">
                                <label for="exampleInputUsername1">Skills</label>
                                <select class="form-control" asp-for="SkillIds">
                                    @foreach (var s in Model.Skills)
                                    {
                                        <option value="@s.Id">@s.SkillName</option>
                                    }
                                </select>

                                <span asp-validation-for="Skills" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <a class="btn btn-light" asp-action="Index">Cancel</a>
                        </form>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/js/select2.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#About'))
            .catch(error => {
                console.error(error);
            });
        $("#SkillIds").select2({
            placeholder: "Select multiple skills",
            theme: "bootstrap4",
            allowClear: true
        });
    </script>

}
