@model Layout

@{
    ViewData["Title"] = "Update";
}

      <div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Update Layout</h4>
                  
                  <form class="forms-sample" method="post" asp-controller="Layout" asp-action="Update" enctype="multipart/form-data">
                           
                            <div class="form-group">
                                <label for="exampleInputUsername1">Navbar Logo</label>
                                <input accept="image/*" asp-for="NavImageFile" class="form-control" placeholder="Image">
                                <span asp-validation-for="NavImageFile" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Footer Logo</label>
                                <input accept="image/*" asp-for="FooterImageFile" class="form-control" placeholder="Image">
                                <span asp-validation-for="FooterImageFile" class="text-danger"></span>
                            </div> 
                             <div class="form-group">
                                <label for="exampleInputUsername1">First Social Media Logo </label>
                                <input asp-for="FirstSocialMediaLogo" class="form-control" placeholder="">
                                <span asp-validation-for="FirstSocialMediaLogo" class="text-danger"></span>
                            </div>
                             <div class="form-group">
                                <label for="exampleInputUsername1">Second Social Media Logo</label>
                                <input asp-for="SecondSocialMediaLogo" class="form-control" placeholder="">
                                <span asp-validation-for="SecondSocialMediaLogo" class="text-danger"></span>
                            </div>
                             <div class="form-group">
                                <label for="exampleInputUsername1">Third Social Media Logo</label>
                                <input asp-for="ThirdSocialMediaLogo" class="form-control" placeholder="">
                                <span asp-validation-for="ThirdSocialMediaLogo" class="text-danger"></span>
                            </div>
                             <div class="form-group">
                                <label for="exampleInputUsername1">Fourth Social Media Logo</label>
                                <input asp-for="FourthSocialMediaLogo" class="form-control" placeholder="">
                                <span asp-validation-for="FourthSocialMediaLogo" class="text-danger"></span>
                            </div>
                             <div class="form-group">
                                <label for="exampleInputUsername1">First URL</label>
                                <input asp-for="FirstURL" class="form-control" placeholder="">
                                <span asp-validation-for="FirstURL" class="text-danger"></span>
                            </div>
                             <div class="form-group">
                                <label for="exampleInputUsername1">Second URL</label>
                                <input asp-for="SecondURL" class="form-control" placeholder="">
                                <span asp-validation-for="SecondURL" class="text-danger"></span>
                            </div>
                             <div class="form-group">
                                <label for="exampleInputUsername1">Third URL</label>
                                <input asp-for="ThirdURL" class="form-control" placeholder="">
                                <span asp-validation-for="ThirdURL" class="text-danger"></span>
                            </div>
                             <div class="form-group">
                                <label for="exampleInputUsername1">Fourth URL</label>
                                <input asp-for="FourthURL" class="form-control" placeholder="">
                                <span asp-validation-for="FourthURL" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-primary me-2"> Submit</button>
                            <a class="btn btn-light" asp-action="Index">Cancel</a>
                        </form>
                </div>
              </div>
             </div>
           </div>
          </div>
         </div>