@model Testimonial
@{
    ViewData["Title"] = "Detail";
}

 <div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">@Html.Raw(@Model.Fullname)</h4>
                  <img src="~/assets/img/testimonial/@Model.MainImage" style="width: 450px" /><br><br><br>
                  <p>Description : </p>
                  <p>
                   @Html.Raw(Model.Description)
                  </p><br><br>
                  <p>Position: @Model.Position </p>
                  
                  <a class="btn btn-secondary" asp-action="Index">Cancel</a>
                </div>
              </div>
            </div>
           </div>
          </div>
        </div>