@model NoticeBoard
@{
    ViewData["Title"] = "Detail";
}

 <div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                    <p>
                     Date: @Model.Date.ToString("dd, MMMM yyyy")
                    </p>
                  <p>
                   Description: @Html.Raw(Model.Description)
                  </p><br><br>
                  
                  <a class="btn btn-secondary" asp-action="Index">Cancel</a>
                </div>
              </div>
            </div>
           </div>
          </div>
        </div>

