@model Information
@{
    ViewData["Title"] = "Detail";
}

<div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body" style="background-color: #B2BABB">
                  <ul>
                   <li>
                       Title: @Model.Title
                  </li>
                  <li>
                       Description: @Html.Raw(Model.Description)
                  </li>
                  </ul>
                  <a class="btn btn-primary" asp-action="Index">Cancel</a>
                </div>
              </div>
            </div>
             </div>
              </div>
            </div>